// Body
    $body-bg: #FFFFFF;

//// Typography
$font-family-sans-serif: 'Noto Sans JP';

// Color
$primary: #13B67B;
$primary-50: #14CC89;
$white: #FFFFFF;
$black-secondary: #595E6F;
$black: #0B0B0B;
$bg-table: #F8F8F8;
$end-color: #d7d7d7;
$blue: #3764F1;
$warning: #F4B840;
$white-50:#EAE8E8;
$grey: #595E6F;
$danger: #FF3030;
$border: #EAE8E8;
$brown: #D9D9D9;
$color_grey: #7C7B7B;
$color_blue: #1e90ff;
$bg_item: #F6F8FC;
$hover: #F6F8FC;
$brown: #D9D9D9;
$color_grey: #7C7B7B;
$color_blue: #1e90ff;
$border_project: #EAE8E8;
