// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$green-50: #D6F2E8;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #13B67B;
$primary-50: #14CC89;
$white: #FFFFFF;
$black-secondary: #595E6F;
$black: #0B0B0B;
$bg-table: #F8F8F8;
$end-color: #D7D7D7;
$blue: #3764F1;
$white: #FFFFFF;
$black-secondary: #595E6F;
$black: #0B0B0B;
$bg-table: #F8F8F8;
$end-color: #D7D7D7;
$warning: #F4B840;
$warning-50: #FFF8EB;
$white-50:#EAE8E8;
$grey: #595E6F;
$danger: #FF3030;
$danger-50: #FFF2F2;
$border: #EAE8E8;
$color_grey: #7C7B7B;
$color_blue: #1e90ff;
$bg_item: #F6F8FC;
$border_project: #EAE8E8;
$text-muted: #D2D1D1;
$brown: #D9D9D9;
$hover: #F6F8FC;
$table-th: #F5F5F5;
$blue-50: #3764F1;
$blue-100: #b3e0ff;
$light-violet: #d5b2c4;
$light-green: #a8f86e;
$link: #0B0B0B80;
